body{
    background: rgb(230, 230, 230);   
}
h1{
    font-size: 60px;
    color: rgb(45, 5, 82);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
p{
    font-size: 30px;
    color: rgb(17, 17, 17);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
img{
    width: 390px;
    height: 390px;
    margin: 105px;

}
.cabecalho{
    background-color: floralwhite;
}
.lista_cabecalho{
    display: flex;
    margin-left: 250px;
}
.item_lista_cabecalho{
    color: #020355;
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px;
}
